<div class="bg-dot-pattern mr-0 py-4 mt-12 md:mr-[250px] md:rounded-br-2xl">
    <div class="flex md:pl-20 lg:pl-28 gap-4 py-8 px-10 items-center">
        <h1 class="section-title animate-slide-left">FROM <span class="text-important">COCONUT TO
                BRIQUETTES</span></h1>
        <hr class="w-full animate-slide-left" />
    </div>
    <p class="description-text text-white px-10 md:pl-20 lg:pl-28 mb-8 animate-slide-left">Coconut shell charcoal briquettes
        are first processed into powder. The powder is then mixed with food-grade
        starch and water, and blended using a mixing machine until it reaches a consistent texture. Once properly
        blended, the mixture is transferred to a molding machine, where it is shaped and cut according to the customer’s
        requested size and form. After molding, the briquettes are placed on trays before being put into the oven. The
        drying process takes approximately 30 hours to remove moisture from the briquettes. After being taken out of the
        oven and cooled for 3–4 hours, the charcoal briquettes are ready for packaging. They are packed into inner
        plastic bags, then placed into inner boxes and finally into master cartons. The products are then ready to be
        shipped to their destination countries.</p>
</div>

<div class="relative flex items-center justify-center mt-20 px-10 md:px-20 lg:px-28">

        <!-- line decoration -->
        <div class="hidden md:block md:absolute top-1/2 left-0 w-full -translate-y-1/2 z-0">
            <hr class="border-divider animate-slide-left">
            <hr class="border-divider mt-4 animate-slide-right">
        </div>

        <!-- Card container -->
        <div class="max-w-screen-xl flex justify-center">
            <div id="charcoalProcess-card-container" 
            class="animate-fade-in grid grid-cols-1 md:grid-cols-3 gap-8 z-10 px-0 md:px-20 lg:px-32"></div>
        </div>
</div>