<div class="bg-dot-pattern mr-0 py-4 mt-12 md:mr-[250px] md:rounded-br-2xl">
    <div class="flex md:pl-28 gap-4 py-8 px-10 items-center">
        <h1 class="text-white font-lato font-bold text-xl lg:text-3xl">FROM <span class="text-important">COCONUT TO
                BRIQUETTES</span></h1>
        <hr class="w-full" />
    </div>
    <p class="px-10 md:pl-28 text-justify font-playfair text-white mb-8 leading-loose">Coconut shell charcoal briquettes are first
        processed into powder. The powder is then mixed with food-grade
        starch and water, and blended using a mixing machine until it reaches a consistent texture. Once properly
        blended, the mixture is transferred to a molding machine, where it is shaped and cut according to the customer’s
        requested size and form. After molding, the briquettes are placed on trays before being put into the oven. The
        drying process takes approximately 30 hours to remove moisture from the briquettes. After being taken out of the
        oven and cooled for 3–4 hours, the charcoal briquettes are ready for packaging. They are packed into inner
        plastic bags, then placed into inner boxes and finally into master cartons. The products are then ready to be
        shipped to their destination countries.</p>
</div>

<div class="relative mt-20 px-10 md:px-28">
    <!-- line decoration -->
    <div class="absolute top-1/2 left-0 w-full -translate-y-1/2 z-0">
        <hr class="border-divider">
        <hr class="border-divider mt-4">
    </div>

    <div class="relative mt-20 px-10 md:px-28">

    <!-- Garis -->
    <div class="absolute top-1/2 left-10 right-10 md:left-28 md:right-28 -translate-y-1/2 z-0">
        <hr class="border-gray-400">
    </div>

    <!-- Card container -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-20 relative z-10">

        <!-- CARD 1 -->
        <div class="relative w-full h-[280px] md:rounded-br-2xl">
            <img src="../assets/images/production_and_mixing.png"
                class="w-full h-full object-cover" />
            <div class="absolute inset-0 bg-gradient-to-b from-black/60 to-transparent"></div>

            <div class="absolute top-0 left-4 -mt-2">
                <div class="relative bg-emphasisColor w-20 h-20 flex items-center justify-center text-white font-bold text-3xl">
                    <div class="absolute -bottom-7 left-1/2 -translate-x-1/2 w-0 h-0 
                        border-l-[40px] border-l-transparent 
                        border-r-[40px] border-r-transparent 
                        border-t-[28px] border-t-emphasisColor">
                    </div>
                    01
                </div>
            </div>

            <div class="absolute top-6 right-12 text-white text-left">
                <h2 class="text-xl font-bold">PRODUCTION</h2>
                <p class="text-lg">& MIXING</p>
            </div>
        </div>

        <!-- CARD 2 -->
        <div class="relative w-full h-[280px] md:rounded-br-2xl">
            <img src="../assets/images/molding_process.png"
                class="w-full h-full object-cover" />
            <div class="absolute inset-0 bg-gradient-to-b from-black/60 to-transparent"></div>

            <div class="absolute top-0 left-4 -mt-2">
                <div class="relative bg-neutralColor w-20 h-20 flex items-center justify-center text-white font-bold text-3xl">
                    <div class="absolute -bottom-7 left-1/2 -translate-x-1/2 w-0 h-0 
                        border-l-[40px] border-l-transparent 
                        border-r-[40px] border-r-transparent 
                        border-t-[28px] border-t-neutralColor">
                    </div>
                    02
                </div>
            </div>

            <div class="absolute top-6 right-20 text-white text-left">
                <h2 class="text-xl font-bold">MOLDING</h2>
                <p class="text-lg">PROCESS</p>
            </div>
        </div>

        <!-- CARD 3 -->
        <div class="relative w-full h-[280px] md:rounded-br-2xl">
            <img src="../assets/images/drying_coal.png"
                class="w-full h-full object-cover" />
            <div class="absolute inset-0 bg-gradient-to-b from-black/60 to-transparent"></div>

            <div class="absolute top-0 left-4 -mt-2">
                <div class="relative bg-overlayHero w-20 h-20 flex items-center justify-center text-white font-bold text-3xl">
                    <div class="absolute -bottom-7 left-1/2 -translate-x-1/2 w-0 h-0 
                        border-l-[40px] border-l-transparent 
                        border-r-[40px] border-r-transparent 
                        border-t-[28px] border-t-overlayHero">
                    </div>
                    03
                </div>
            </div>

            <div class="absolute top-6 right-20 text-white text-left">
                <h2 class="text-xl font-bold">DRYING</h2>
                <p class="text-lg">CHARCOAL</p>
            </div>
        </div>

    </div>
</div>

</div>