<div class="grid gap-10 grid-cols-1 md:grid-cols-2">

    <!-- content -->
    <div class="animate-slide-left flex gap-4 flex-col bg-cardSection w-full md:h-[260px] lg:h-[230px] p-4">
        <div class="flex items-center text-white font-bold font-lato gap-5">
            <div class="bg-important w-16 h-16 flex items-center justify-center">
                <h1 class="text-3xl">01</h1>
            </div>
            <h2 class="text-lg md:text-xl">Product Excellence</h2>
        </div>
        <p class="description-text text-white">
            We are committed to producing super premium quality products that are environmentally friendly and
            continuously improved through the latest innovations.
        </p>
    </div>

    <div class="animate-slide-right flex gap-4 flex-col bg-cardSection w-full md:h-[260px] lg:h-[230px] p-4">
        <div class="flex items-center text-white font-bold font-lato gap-5">
            <div class="bg-neutralColor w-16 h-16 flex items-center justify-center">
                <h1 class="text-3xl">02</h1>
            </div>
            <h2 class="text-lg md:text-xl">Quality Assurance</h2>
        </div>
        <p class="description-text text-white">
            We maintain the highest quality standards by carefully selecting raw materials and ensuring every stage of
            the production process is handled professionally.
        </p>
    </div>

    <div class="animate-slide-left flex gap-4 flex-col bg-cardSection w-full md:h-[260px] lg:h-[230px] p-4">
        <div class="flex items-center text-white font-bold font-lato gap-5">
            <div class="bg-emphasisColor w-16 h-16 flex items-center justify-center">
                <h1 class="text-3xl">03</h1>
            </div>
            <h2 class="text-lg md:text-xl">On-Time Delivery</h2>
        </div>
        <p class="description-text text-white">
            We prioritize punctual delivery, understanding that your time is valuable. Our efficient management system
            ensures reliable and timely shipments.
        </p>
    </div>

    <div class="animate-slide-right flex gap-4 flex-col bg-cardSection w-full md:h-[260px] lg:h-[230px] p-4">
        <div class="flex items-center text-white font-bold font-lato gap-5">
            <div class="bg-overlayHero w-16 h-16 flex items-center justify-center">
                <h1 class="text-3xl">04</h1>
            </div>
            <h2 class="text-lg md:text-xl">Supporting Local Economic Development</h2>
        </div>
        <p class="description-text text-white">
            We actively contribute to the growth of the local economy by creating job opportunities and supporting the
            surrounding community.
        </p>
    </div>
</div>