<div class="flex flex-col gap-10 justify-center items-center">
    <h3 class="font-lato font-bold text-xl lg:text-3xl lg:px-28 px-10">WE UNDERSTAND <span
            class="text-important">YOUR</span> NEEDS
    </h3>
    <p class="text-justify font-playfair leading-relaxed lg:px-28 px-10 leading-loose">In today’s modern world, people seek to maintain a refined lifestyle.
        CV. JAVA INDO NUSANTARA understands the demand for a unique yet cleaner smoking experience.
        As a charcoal expert, we are committed to delivering premium coconut shell charcoal briquettes
        that meet international standards — from burn time, drop test, ash content, to calorific value,
        and other specifications upon request.</p>

    <!-- line decoration -->
    <div class="flex justify-between min-w-full gap-40 -px-28">
        <hr class="flex-1 border-t-2 border-gray-500" />
        <hr class="flex-1 border-t-2 border-gray-500" />
    </div>

    <!-- block decoration -->
    <div class="flex justify-between min-w-full h-auto">
        <div class="flex gap-4">
            <div class="bg-important w-20 h-14 md:w-40 md:h-14 lg:w-[200px] lg:h-14"></div>
            <div class="bg-important w-12 h-14 md:w-32 md:h-14 lg:w-32 lg:h-14"></div>
            <div class="bg-important w-4 h-14 md:w-10 md:h-14 lg:w-20 lg:h-14"></div>
        </div>

        <div class="flex gap-4">
            <div class="bg-important w-20 h-14 md:w-40 md:h-14 lg:w-[200px] lg:h-14"></div>
            <div class="bg-important w-12 h-14 md:w-32 md:h-14 lg:w-32 lg:h-14"></div>
            <div class="bg-important w-4 h-14 md:w-10 md:h-14 lg:w-20 lg:h-14"></div>
        </div>
    </div>
</div>