<div class="flex flex-col gap-10 justify-center items-center">
    <h3 class="section-title text-black lg:px-28 px-10 animate-fade-in">WE UNDERSTAND <span
            class="text-important">YOUR</span> NEEDS
    </h3>
    <p class="description-text px-10 md:px-20 lg:px-28 animate-fade-in">In today’s modern world, people seek to maintain a refined lifestyle.
        <span class="text-important font-semibold">CV. JAVA INDO NUSANTARA </span> understands the demand for a unique yet cleaner smoking experience.
        As a charcoal expert, we are committed to delivering premium coconut shell charcoal briquettes
        that meet international standards — from burn time, drop test, ash content, to calorific value,
        and other specifications upon request.</p>

    <!-- line decoration -->
    <div class="flex justify-between min-w-full gap-40 -px-28">
        <hr class="flex-1 border-t-2 border-gray-500 animate-slide-left" />
        <hr class="flex-1 border-t-2 border-gray-500 animate-slide-right" />
    </div>

    <!-- block decoration -->
    <div class="flex justify-between min-w-full h-auto">
        <div class="flex gap-4 animate-slide-left">
            <div class="bg-important w-20 h-14 md:w-40 md:h-14 lg:w-[200px] lg:h-14"></div>
            <div class="bg-important w-12 h-14 md:w-32 md:h-14 lg:w-32 lg:h-14"></div>
            <div class="bg-important w-4 h-14 md:w-10 md:h-14 lg:w-20 lg:h-14"></div>
        </div>

        <div class="flex gap-4 animate-slide-right">
            <div class="bg-important w-20 h-14 md:w-40 md:h-14 lg:w-[200px] lg:h-14"></div>
            <div class="bg-important w-12 h-14 md:w-32 md:h-14 lg:w-32 lg:h-14"></div>
            <div class="bg-important w-4 h-14 md:w-10 md:h-14 lg:w-20 lg:h-14"></div>
        </div>
    </div>
</div>