<footer class="bg-cardSection py-16">
    <div class="px-10 lg:px-28 grid grid-cols-2 lg:grid-cols-5 gap-10 md:gap-4">

        <!-- company footer -->
        <div class="col-span-2 text-white">
            <h1 class="font-semibold">COMPANY</h1>
            <div class="flex items-center mt-4 gap-2">
                <img src="../assets/images/company_logo.png" class="w-12 h-12" alt="business-logo" />
                <div class="font-lato">
                    <h3 class="font-semibold">CV. JAVA INDO NUSANTARA</h3>
                    <p class="text-sm">Premium Coconut Charcoal Briquette Supplier from Indonesia</p>
                </div>

            </div>
            <p class="leading-loose text-sm mt-4 text-justify">
                is a manufacturer and supplier of coconut shell charcoal briquette. We start our business in 2025.
                CV.JAVA INDO NUSANTARA provides briquette according to customers specification requirement in size
                and shape.
            </p>
            

            <a href="https://maps.google.com/?q=Klampeyan, Noborejo Argomulyo, Salatiga" target="_blank" class="footer-link">
                <p class="tracking-wider text-sm mt-4">
                    <i class="fas fa-location mr-2"></i>
                    Klampeyan, Noborejo Argomulyo, Salatiga
                </p>
            </a>
        </div>

        <!-- quick lines -->
        <div class="col-span-1 text-white lg:ml-8">
            <h1 class="font-semibold">QUICK LINES</h1>
            <ul class="flex flex-col gap-4 mt-4">
                <li class="footer-link"><a href="index.html">HOME</a></li>
                <li class="footer-link"><a href="products.html">PRODUCTS</a></li>
                <li class="footer-link"><a href="about_us.html">ABOUT US</a></li>
                <li class="footer-link"><a href="contact.html">CONTACT</a></li>
                <!-- <li><a>TUJUAN EKSPOR</a></li> -->
            </ul>
        </div>

        <!-- products -->
        <div class="hidden lg:flex lg:flex-col col-span-1 text-white">
            <h1 class="font-semibold">PRODUCTS</h1>
            <ul class="flex flex-col gap-4 text-sm mt-4">
                <li class="footer-link"><a href="product-hexagonal.html">HEXAGONAL FOR SISHA</a></li>
                <li class="footer-link"><a href="product-cube.html">CUBE FOR SISHA</a></li>
            </ul>
        </div>

        <!-- contact -->
        <div class="col-span-1 text-white -ml-12 md:-ml-4">
            <h1 class="font-semibold">CONTACT</h1>
            <ul class="flex flex-col gap-4 text-sm mt-4">
                <li class="footer-link"><i class="fab fa-whatsapp mr-2"></i><a href="#" target="_blank" id="wa-contact">+628-1234-7162-62</a></li>
                <li class="footer-link"><i class="fas fa-envelope mr-2"></i><a href="mailto:cvjavaindonusantara@gmail.com">cvjavaindonusantara<br class="block md:hidden">@gmail.com</a></li>
            </ul>
        </div>

        <div class="col-span-2 lg:col-span-5 flex items-center justify-center mt-12">
            <h1 class="text-white font-lato font-bold">© 2026 CV. JAVA INDO NUSANTARA</h1>
        </div>
    </div>
</footer>