<div class="flex flex-col gap-8">

    <!-- Quote and Company Logo-->
    <div class="flex justify-between text-white font-lato lg:text-4xl text-2xl">
        <h2>“Delivering premium charcoal with </br> <span class="font-extrabold text-important">consistent
                quality</span> for <span class="font-extrabold text-important">global standards.</span>”
        </h2>
        <img src="assets/images/company_logo.png" alt="company_logo" class="hidden md:w-16 md:h-16 lg:w-20 lg:h-20 object-cover object-center md:flex" />
    </div>

    <!-- Our truster section -->
    <div>
        <p class="font-lato text-secondaryTeks mb-2">OUR TRUSTED FORWARDERS</p>
        <hr class="mb-4" />
        <div class="mb-16">
            <ul class="flex gap-10 text-lg text-secondaryTeks">
                <li>Shopee</li>
                <li>Tokopedia</li>
                <li>Bukalapak</li>
                <li>Duolingo</li>
            </ul>
        </div>
    </div>

</div>