<div class="flex flex-col gap-8">
    <!-- Quote and Company Logo-->
    <div class="flex justify-between text-white font-lato lg:text-4xl text-2xl">
        <h2>“Delivering premium charcoal with <br> <span class="font-extrabold text-important">consistent
                quality</span> for <span class="font-extrabold text-important">global standards.</span>”
        </h2>
        <img src="assets/images/company_logo.png" alt="company_logo"
            class="hidden md:w-16 md:h-16 lg:w-20 lg:h-20 object-cover object-center md:flex" />
    </div>

    <!-- Our truster section -->
    <div>
        <p class="font-lato text-secondaryTeks mb-2">OUR TRUSTED FORWARDERS</p>
        <hr class="mb-4" />
        <div class="mb-16">
            <ul class="flex gap-10 text-lg text-secondaryTeks">
                <li>Shopee</li>
                <li>Tokopedia</li>
                <li>Bukalapak</li>
                <li>Duolingo</li>
            </ul>
        </div>
    </div>
</div>

<!-- Decorative = AMAN -->
<div class="absolute -bottom-4 left-0 w-full">
    <div class="dot-pattern h-20"></div>
    <div class="px-8 md:px-28 flex gap-4 translate-y-3.5">
        <div class="glass-box w-24 h-14 sm:w-40 md:w-[400px] md:h-14"></div>
        <div class="glass-box w-20 h-14 sm:w-18 md:w-40 md:h-14"></div>
        <div class="glass-box w-14 h-14 sm:w-14 md:w-20 md:h-14"></div>
        <div class="glass-box w-8 h-14 sm:w-10 md:w-10 md:h-14"></div>
        <div class="glass-box w-4 h-14 sm:w-4 md:w-8 md:h-14"></div>
    </div>
</div>