<div class="flex items-center lg:px-28 bg-dot-pattern h-40 bg-gray-200"
    style="background-image: radial-gradient(rgba(42,42,42,0.3) 2px, transparent 0);">
    <div class="flex items-center justify-center lg:justify-between min-w-full gap-20">
        <div class="lg:flex gap-4 hidden">
            <div class="bg-important lg:h-16 lg:w-[360px]"></div>
            <div class="bg-important lg:h-16 lg:w-[100px]"></div>
            <div class="bg-important lg:h-16 lg:w-[80px]"></div>
        </div>
        <h2 class="bg-primaryBg font-lato text-xl lg:text-3xl px-6 py-3.5 text-white font-bold">HOW WE PACKAGE <span
                class="text-important">YOUR</span> ORDER?</h2>
    </div>
</div>

<div class="px-28 grid grid-cols-1 md:grid-cols-4 mt-16 gap-12 relative z-10">
    <!-- CARD 1 -->
    <div class="relative w-full h-[280px] md:rounded-br-2xl">
        <img src="../assets/images/production_and_mixing.png" class="w-full h-full object-cover" />
        <div class="absolute inset-0 bg-gradient-to-b from-black/60 to-transparent"></div>

        <div class="absolute top-0 left-4 -mt-2">
            <div
                class="relative bg-emphasisColor w-20 h-20 flex items-center justify-center text-white font-bold text-3xl">
                <div class="absolute -bottom-7 left-1/2 -translate-x-1/2 w-0 h-0 
                        border-l-[40px] border-l-transparent 
                        border-r-[40px] border-r-transparent 
                        border-t-[28px] border-t-emphasisColor">
                </div>
                01
            </div>
        </div>

        <div class="absolute top-6 right-12 text-white text-left">
            <h2 class="text-xl font-bold">PRODUCTION</h2>
            <p class="text-lg">& MIXING</p>
        </div>
    </div>

    <!-- CARD 2 -->
    <div class="relative w-full h-[280px] md:rounded-br-2xl">
        <img src="../assets/images/production_and_mixing.png" class="w-full h-full object-cover" />
        <div class="absolute inset-0 bg-gradient-to-b from-black/60 to-transparent"></div>

        <div class="absolute top-0 left-4 -mt-2">
            <div
                class="relative bg-neutralColor w-20 h-20 flex items-center justify-center text-white font-bold text-3xl">
                <div class="absolute -bottom-7 left-1/2 -translate-x-1/2 w-0 h-0 
                        border-l-[40px] border-l-transparent 
                        border-r-[40px] border-r-transparent 
                        border-t-[28px] border-t-neutralColor">
                </div>
                02
            </div>
        </div>

        <div class="absolute top-6 right-12 text-white text-left">
            <h2 class="text-xl font-bold">PRODUCTION</h2>
            <p class="text-lg">& MIXING</p>
        </div>
    </div>

    <!-- CARD 3 -->
    <div class="relative w-full h-[280px] md:rounded-br-2xl">
        <img src="../assets/images/production_and_mixing.png" class="w-full h-full object-cover" />
        <div class="absolute inset-0 bg-gradient-to-b from-black/60 to-transparent"></div>

        <div class="absolute top-0 left-4 -mt-2">
            <div
                class="relative bg-overlayHero w-20 h-20 flex items-center justify-center text-white font-bold text-3xl">
                <div class="absolute -bottom-7 left-1/2 -translate-x-1/2 w-0 h-0 
                        border-l-[40px] border-l-transparent 
                        border-r-[40px] border-r-transparent 
                        border-t-[28px] border-t-overlayHero">
                </div>
                03
            </div>
        </div>

        <div class="absolute top-6 right-12 text-white text-left">
            <h2 class="text-xl font-bold">PRODUCTION</h2>
            <p class="text-lg">& MIXING</p>
        </div>
    </div>

    <!-- CARD 1 -->
    <div class="relative w-full h-[280px] md:rounded-br-2xl">
        <img src="../assets/images/production_and_mixing.png" class="w-full h-full object-cover" />
        <div class="absolute inset-0 bg-gradient-to-b from-black/60 to-transparent"></div>

        <div class="absolute top-0 left-4 -mt-2">
            <div
                class="relative bg-important w-20 h-20 flex items-center justify-center text-white font-bold text-3xl">
                <div class="absolute -bottom-7 left-1/2 -translate-x-1/2 w-0 h-0 
                        border-l-[40px] border-l-transparent 
                        border-r-[40px] border-r-transparent 
                        border-t-[28px] border-t-important">
                </div>
                04
            </div>
        </div>

        <div class="absolute top-6 right-12 text-white text-left">
            <h2 class="text-xl font-bold">PRODUCTION</h2>
            <p class="text-lg">& MIXING</p>
        </div>
    </div>

    <div class="col-span-4">
        <p>We prioritize product safety in every shipment. From inner plastic protection to strong export-grade cartons, every step is carefully handled to prevent breakage, moisture exposure, and contamination. This ensures that our briquettes arrive in perfect condition, ready for use.</p>
    </div>
</div>