<div class="relative">
    <div class="absolute flex -top-6">
        <div class="mr-4 bg-divider w-20 h-12 lg:w-[150px]"></div>
        <div class="mr-24 lg:mr-[300px] bg-divider w-32 h-12 lg:w-[250px]"></div>
        <div class="bg-divider w-40 h-12 lg:w-[450px]"></div>
    </div>

    <div class="bg-dot-pattern w-min-screen py-20 px-10 md:px-20 lg:px-28">
        <h1 class="animate-slide-right section-title text-right mb-10 md:mb-20">
            OUR <span class="text-important">PRODUCTS</span>
        </h1>
        <div id="product1-card-container" class="animate-slide-right"></div>
        <div id="product2-card-container" class="animate-slide-left"></div>
    </div>
</div>