<div class="relative px-10 lg:px-28 mb-24">
    <!-- decoration rectangle -->
    <div class="absolute bg-important w-12 h-12 -top-6 left-6 lg:left-24 z-10"></div>
    <div class="absolute bg-neutralColor w-12 h-12 -top-3 right-4 lg:right-24 z-10"></div>
    <div class="absolute bg-emphasisColor w-12 h-12 -top-8 right-8 lg:right-28 z-10"></div>
    <div class="absolute bg-overlayHero w-12 h-12 -bottom-6 right-6 lg:right-24 z-10"></div>

    <!-- decoration dot -->
    <div class="dot-pattern absolute -z-10 h-14 w-[300px] right-0 -bottom-8"></div>

    <!-- question content -->
    <div class="bg-dot-pattern min-w-full h-[280px]">
        <div class="flex flex-col px-12 justify-center gap-8 min-h-full animate-slide-left">
            <div class="text-white">
                <h2 class="font-lato font-bold text-lg md:text-xl lg:text-3xl">HAVE A <span class="text-important ">QUESTION</span> ABOUT OUR
                    PRODUCTS?</h2>
                <p class="font-lato text-sm md:text-base">Contact us and consult now for free!</p>
            </div>
            <a href="https://wa.me/6281234716262" target="_blank">
                <button class="flex items-center justify-center button">
                    CONTACT US NOW
                </button>
            </a>
        </div>
    </div>
</div>